.header__lang-link {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  padding-left: 18px;
  color:#fff;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
    font-weight: 1.33;
  }
}
