@import url(../page/__container/page__container.css);

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
}
