.photo-grid__item {
  max-width: 100%;
  min-height: 213px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1140px) {
  .photo-grid__item {
    min-height: 225px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid__item {
    min-height: 264px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid__item {
    min-height: 216px;
  }
}
