.footer__author {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  align-self: center;
}

@media screen and (max-width: 720px) {
  .footer__author {
    align-self: start;
  }
}
